.time-meter
{
	border: 1px solid black;
	padding: 2px;
}

.time-meter .bar
{
	background-color: red;
}

.energy-meter
{
	border: 1px solid black;
	padding: 2px;
	margin-bottom: 2px;
}

.energy-meter .bar
{
	background-color: blue;
}

.progress-meter
{
	border: solid 1px black;
	padding: 2px;
}

.progress-meter .bar
{
	background-color: red;
}

textarea.generated-json
{
	width: 600px;
	height: 200px;
}

.actor
{
	position: relative;
	border: 1px solid black; 
	margin-bottom: 8px; 
	padding: 4px;
}

.actor.selected
{
	background-color: lightgreen;
}